#img-bg{
    background-image: url(https://images3.alphacoders.com/106/thumbbig-1065466.png);
    background-repeat: no-repeat;
    background-size:cover;
    height: 120vh;
    background-position:center;

}

