.bg{
    background-color: #e5dad0
}
input{
    background-color: #EFEFED;
    border-radius: 20px;
}
.border-radius{
    border-radius: 20px;
}
.border-modal{
    border-radius: 40px;
}
.backgroundbotton{
    background-color: #EFEFED;
    border: none;
}
 .linha-vertical {
     height: 1px;
    border-left: 1px solid;
  }

.modal-content{
    border: none;
}




